body {
    color: rgb(231, 231, 235);
    background-color: rgb(16, 14, 29);
  }
  
.forecast-cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    text-align: center;
}
  
  
  .forecast-card {
    width: 50%;
    margin: 10px;
    height: 200px; 
    margin-right: 10px;
    margin-bottom: 10px; 
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(30, 33, 58);
  }

.contProp{
  position: absolute;
  top: 100px; 
  right: 100px;
}

img {
  width: 150px; 
  height: 150px; 
}

p {
  font-size: 3rem;
}

button {
  font-size: 20px; 
}

input{
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .forecast-card {
    width: 50%; 
  }
}

